.parent{

}


.Header{
      position: fixed;
      width: 98%;
      background-color: rgba(0, 0, 0, 0.144);
      color: rgb(224, 208, 208);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px 0 20px;
      z-index: 4;
}

.active_Header{
  background-color: darkred;
  width: 95.7vw;
  border: 5px solid red;
}




.joinBtn{
      border: none;
      font-weight: bold;
      font-size: 15px;
      background-color: red;
      color: white;
      border-radius: 10px;
      padding: 5px;
      cursor: pointer;
      margin-right: 20px;
}




.page{
      color: white;
      font-size: 23px;
      font-weight: bold;
      background-color: transparent;
      border: none;
      margin-left: 20px;
      text-decoration: none;
}
  
.UL{
     display: flex;
     list-style: none;


}


.UL .active{
    color: rgb(115, 235, 115);
}
