

.Img{
    height: 70vh;
    background-image: url("https://images.pexels.com/photos/841130/pexels-photo-841130.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center ;
    color: white;
    font-size: 25px;
}

.WhoWeAre{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.WhoWeAre_Img{
    
    width: 40%;
    height: 60%;
    border: 2px solid red;
    background-image: url("https://images.pexels.com/photos/1552242/pexels-photo-1552242.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;

}

.WhoWeAre_Content{
    width: 50%;
}

.WhoWeAre_Content h1{
    color: red;
    font-size: 40px;
}

.WhoWeAre_Content h2{
    font-size: 28px;
}

.WhoWeAre_Content p{
    font-weight: bold;
    font-size: 20px;
}

.WhoWeAre_Content button{
    border: none;
    font-weight: bold;
    font-size: 35px;
    background-color: red;
    color: white;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
}


