.WhyUsSection{
    height: 100%;
    width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;

}

.content{
    height: 70%;
    width: 40%;    
}
.content h2{
    margin: 0px;
    padding: 0px;
    font-size: 30px;

}
.content h1{
    margin: 0px;
    margin-bottom: 2px;
    padding: 0px;
    color: red;
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content p{
    margin: 5px;
    padding: 0px;
    font-weight: 600;
}

.Video{
    height: 70%;
    width: 17%;
    margin-left: 180px;
    border-radius: 10px 5px 20px 15px;
    background-size: cover;
    background-position: center;
    display: flex;  
    align-items: center;
    justify-content: center; 
    position: relative;
    z-index: 10;
 }


