.Rapper{
    overflow: hidden;
    height: 100%;
    width: 100%;

}


.HomeSection{
    height: 98vh;
    width: 98vw;
}

.AboutSection{
    height: 70vh;
    width: 98vw;
}

.WhyUs{
    height: 50vh;
    width: 98vw;
}

/* .Trainers{
    height: 90vh;
    width: 98vw;
    border: 5px solid red;
} */



